@import url("https://fonts.googleapis.com/css2?family=League+Gothic&display=swap");
html{
    background-image: url('./cosmo.jpeg');
    width: 200%;
    height: 200%
}
body{
    height: 300px;
    width: 1500px;
    margin: 0;
}
.button-container{
    display: flex;
    justify-content: space-around;
    width: 1500px;
    height: 50px;
    margin-top: 40px;
}
#characters-data{
    width: 200px;
    height: 150px;
}
#planets-data{
    width: 200px;
    height: 150px;
}
.character-button{
    height: 50px;
    width: 150px;
    background:#f8e50a;
    color: black;
    border-radius: 5px;
    border-color: black;
    font-family: 'League Gothic', sans-serif; 
    font-size: x-large;
}
.planets-button{
    height: 50px;
    width: 150px;
    background:#f8e50a;
    color:black;
    border-radius: 5px;
    border-color: black;
    font-family: 'League Gothic', sans-serif;
    font-size: x-large;
}
.area-data-container{
    display: flex;
    height: 500px;
    width: 1500px;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    background-color: black;
    color: #f8e50a;
}
